<%- include('../../header.ejs') %>

    <!-- middle section -->

    <!-- sidebar start  -->

    <div class="container mt-4 mb-4">
        <h2 class="mb-4 mt-4">Admin Dashboard</h2>
        <div class="container row">

            <div class="vstack gap-2 col-md-3 mb-4">
                <a href="/admin/dashboard" type="button" class="btn btn-outline-secondary">Dashboard</a>
                <a href="/admin/blogdisplay" type="button" class="btn btn-outline-secondary">Blogs</a>
                <a href="/admin/categorydisplay" type="button" class="btn btn-outline-secondary">Categories</a>
                <a href="/about" type="button" class="btn btn-outline-secondary">About</a>
                <a href="/admin/contactdisplay" type="button" class="btn btn-outline-secondary">Contacts</a>
                <a href="/logout" type="button" class="btn btn-outline-secondary">Logout</a>
            </div>
            <!-- sidebar end -->

            <!-- style="justify-content: end;font-size: 20px;font-weight: 500; " -->
            <div class="col-md-9 ml-4">
                <div class="container mb-4" style="display:flex;justify-content:space-between;">
                    <span style="font-size: 30px;font-weight: 600; " class="mr-4"> Blog List</span>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add Blog
                    </button>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered border-secondary">
                        <thead class="table-secondary table-bordered border-secondary">
                            <tr>
                                <th scope="col">#ID</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Image</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% let i=1; %>
                                <% d.forEach((item)=>{ %>


                                    <tr>
                                        <th scope="row">
                                            <%= i++ %>
                                        </th>
                                        <td>
                                            <%= item.title %>
                                        </td>
                                        <td>
                                            <%= item.description %>
                                        </td>
                                        <td><img src="<%= item.image.url %>" width="60px" alt="blog image"></td>
                                        <td>
                                            <a href="/admin/blogview/<%= item._id %>" class=""> <i
                                                    class="bi bi-eye-fill "
                                                    style="color:black;margin-right: 5px;"></i></a>
                                            <a href="/admin/blogedit/<%= item._id %>"> <i class="bi bi-pencil-square"
                                                    style="color:blue;margin-right:5px;"></i></a>
                                            <a href="/admin/blogdelete/<%= item._id %>" class=""> <i
                                                    class="bi bi-trash-fill" style="color:red;"></i></a>
                                        </td>
                                    </tr>

                                    <% }) %>


                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

    <!-- modal for create blog -->

    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add Blog</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/insertblog" method="post" enctype="multipart/form-data">
                        <div class="md-3">
                            <label for="">Title</label>
                            <input name="title" type="text" class="form-control">
                        </div>
                        <div class="md-3">
                            <label for="">Description</label>
                            <textarea name="description" type="text" class="form-control"></textarea>
                        </div><br>
                        <div class="md-3">
                            <label for="">Upload image</label><br>
                            <input name="image" type="file" class="form-control" required="">
                        </div><br>

                        <button type="submit" class="btn btn-primary">Add Blog</button>

                    </form>
                </div>

            </div>
        </div>
    </div>



    <%- include('../../footer.ejs') %>