<%- include('../../header.ejs') %>

    <!-- middle section -->


    <div class="container">

        <!-- sidebar start -->

        <div class="container mt-4 mb-4">
            <h2 class="mb-4">Admin Dashboard</h2>
            <div class="container row">

                <div class="vstack gap-2 col-md-3">
                    <a href="/admin/dashboard" type="button" class="btn btn-outline-secondary">Dashboard</a>
                    <a href="/admin/blogdisplay" type="button" class="btn btn-outline-secondary">Blogs</a>
                    <a href="/admin/categorydisplay" type="button" class="btn btn-outline-secondary">Categories</a>
                    <a href="/about" type="button" class="btn btn-outline-secondary">About</a>
                    <a href="/admin/contactdisplay" type="button" class="btn btn-outline-secondary">Contacts</a>
                    <a href="/logout" type="button" class="btn btn-outline-secondary">Logout</a>
                </div>

                <!-- sidebar end -->
                <!-- style="justify-content: end;font-size: 20px;font-weight: 500; " -->
                <div class="col-md-9 ml-4">
                    <div class="container mb-4">
                        <span style="font-size: 30px;font-weight: 600; " class="mr-4">View</span>

                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col">#ID</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Image</th>
                                </tr>
                            </thead>

                            <tbody>


                                <tr>
                                    <th scope="row">
                                        <%= 1 %>
                                    </th>
                                    <td>
                                        <%= view.title %>
                                    </td>
                                    <td>
                                        <%= view.description %>
                                    </td>
                                    <td><img src="<%= view.image.url %>" width="60px" alt="blog image"></td>
                                </tr>




                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>





    <%- include('../../footer.ejs') %>